/*
 *@author:PJY
 *@date:2016/04/13
 *@QQ:731401082
 *若使用请注明出处
 */
 
html, body { margin: 0; padding: 0;overflow:hidden; background-color:#1f2e3d;font: 16px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;}
ul, ol { list-style:none; margin: 0; padding: 0; }
a{text-decoration:none;color:#fff;transition: 1s;-webkit-transition: 1s;}
a:hover{color:#ef8376;}

.container { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.content { height: 400%; position: absolute; left: 0; right: 0; }
.scene { height: 25%; position: relative; overflow: hidden; }

/*arrow */
.arrow{ z-index:666;opacity:1;animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;-webkit-animation:arrow 3s cubic-bezier(0.5,0,0.1,1) infinite;transform:rotate(-90deg);-webkit-transform:rotate(-90deg); position:absolute;bottom:10px;left:50%;margin-left:-30px;width:60px;height:60px;border-radius:100%;-webkit-border-radius:100%;line-height:60px;text-align:center;font-size:20px;color:#fff;border:1px solid #fff;cursor:pointer;overflow:hidden;}
.arrow:hover{ animation-play-state:paused;-webkit-animation-play-state:paused;}
@keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }
@-webkit-keyframes arrow{ %0,%100{bottom:10px; opacity:1;} 50%{bottom:50px; opacity:.5} }

@media screen and (min-width:800px) {
/*loading*/
.loading{width:100%;height:100%;position:absolute;background-color:#fff;z-index:100}
.loading img {width:100px;height:100px;position:absolute;top:50%;left:50%;margin-left:-50px;margin-top:-50px;}

.active .word {display:block;width:80px;height:80px;background:url('../image/word.jpg') no-repeat;background-size:100% 100%;position:absolute;bottom:0;right:0;border-radius:10px;
	animation:flipInX 1s;
	-webkit-animation:flipInX 1s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
}
/* scene-1 */
#scene1 { background:#1f2e3d; }
.active .s1-content {width: 800px; height: 500px; margin: 50px auto; position:relative; overflow: hidden}
.active .cloud {width:150px;height:74px;background:url('../image/cloud.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:0;
	animation:sway 8s;
	-webkit-animation:sway 8s;	
	animation-iteration-count:infinite;
	animation-direction:alternate;	
	-webkit-animation-direction:alternate;	
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@keyframes sway
{
0%   {left:200px;top:0;}
25%   {left:150px;top:25px;}
50%   {left:100px;top:0}
75%   {left:50px;top:25px;}
100% {left:0;top:0}
}
@-webkit-keyframes sway 
{
0%   {left:200px;top:0;}
25%   {left:150px;top:25px;}
50%   {left:100px;top:0}
75%   {left:50px;top:25px;}
100% {left:0;top:0}
}
.active .s1-tag {width:200px;height:194px;background-color:#fff;position:absolute;top:20px;left:20px;background:url('../image/aboutme.png') no-repeat;background-size:100% 100%;
-webkit-animation-name: lightSpeedIn, swing;
animation-name: lightSpeedIn, swing; 
-webkit-animation-duration:1s, 2s;
animation-duration:1s, 2s;
animation-delay:0s, 1s;
-webkit-animation-delay:0s, 1s;
-webkit-animation-timing-function: ease-out, ease;
animation-timing-function: ease-out, ease;
 animation-iteration-count:1, infinite;
 animation-direction:normal, alternate;
 -webkit-animation-direction:normal, alternate;}
 
.active .s1-content .headpic {margin: 160px auto; width: 150px; height: 150px; border-radius: 100%; display:block; margin:160px auto; position: relative; z-index:50;}
.active .circle { animation-name:bounceIn,shine; animation-duration:0.6s,1.5s;animation-delay:1s,1.6s;animation-timing-function:ease-in-out, ease;animation-iteration-count: 1,infinite;animation-direction:normal,alternate;animation-fill-mode: both;}
@keyframes shine
{
0%   {box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;}
100% {box-shadow:0 0 30px #fff;-webkit-box-shadow:0 0 30px #fff;}
}
@-webkit-keyframes shine 
{
0%   {box-shadow:0 0 5px #fff;-webkit-box-shadow:0 0 30px #fff;}
100% {box-shadow:0 0 5px #fff;-webkit-box-shadow:0 0 30px #fff;}
}

/*线条*/
.active .s1-line1 {box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;width:5px;background-color:#fff;position:absolute;top:50px;left:400px;
	animation:si-line 0.4s;
	-webkit-animation:si-line 0.4s;	
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
	animation-fill-mode: both;
}
@keyframes si-line
{0%  {height:0;top:180px;}100% {height: 100px;top:80px;}}
@-webkit-keyframes si-line 
{0%  {height:0;top:200px;}100% {height: 100px;top:50px;}}
.active .s1-line2 {box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;height:5px;background-color:#fff;position:absolute;top:240px;left:150px;
	animation:si-line2 0.4s;
	-webkit-animation:si-line2 0.4s;	
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	animation-fill-mode: both;
}
@keyframes si-line2
{0%  {width:0;left:350px;}100% {width:200px;left:150px;}}
@-webkit-keyframes si-line2 
{0%  {width:0;left:350px;}100% {width:200px;left:150px;}}
.active .s1-line3 {box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;height:5px;background-color:#fff;position:absolute;top:240px;left:460px;
	animation:si-line3 0.4s;
	-webkit-animation:si-line3 0.4s;	
	animation-delay: 2.4s;
	-webkit-animation-delay: 2.4s;
	animation-fill-mode: both;
}
@keyframes si-line3
{0%  {width:0;}100% {width:200px;}}
@-webkit-keyframes si-line3 
{0%  {width:0;}100% {width:200px;}}
.active .s1-line4 {box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;width:5px;background-color:#fff;position:absolute;top:280px;left:400px;
	animation:si-line4 0.4s;
	-webkit-animation:si-line4 0.4s;	
	animation-delay: 2.8s;
	-webkit-animation-delay: 2.8s;
	animation-fill-mode: both;
}
@keyframes si-line4
{ 0%  {height:0;} 100% {height:100px;}}
@-webkit-keyframes si-line4 
{ 0%  {height:0;}100% {height:100px;}}

.active .s1-name {width:80px;height:80px;background-color:#fff;line-height:80px;text-align:center;border-radius:100%;color:#706f7f;font-weight:bold;position:absolute;top:40px;left:360px;box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;}
.active .s1-school {width:300px;height:30px;background-color:#fff;line-height:30px;text-align:center;border-radius:10px;color:#706f7f;font-weight:bold;position:absolute;top:370px;left:260px;box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;}
.active .s1-want {width:150px;height:30px;background-color:#fff;line-height:30px;text-align:center;border-radius:10px;color:#706f7f;font-weight:bold;position:absolute;top:225px;left:40px;box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;}
.active .s1-status {width:150px;height:30px;background-color:#fff;line-height:30px;text-align:center;border-radius:10px;color:#706f7f;font-weight:bold;position:absolute;top:225px;left:600px;box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;}

.active .s1-sex {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:100px;height:50px;line-height:60px;text-align:center;font-size:22px;font-weight:bold;top:120px;left:230px;position:absolute;color:#706f7f;}
.active .s1-year {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:140px;height:70px;line-height:90px;text-align:center;font-size:22px;font-weight:bold;top:280px;left:180px;position:absolute;color:#706f7f;}
.active .s1-sing {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:140px;height:70px;line-height:90px;text-align:center;font-size:22px;font-weight:bold;top:120px;left:500px;position:absolute;color:#706f7f}
.active .s1-friend {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:120px;height:60px;line-height:70px;text-align:center;font-size:22px;font-weight:bold;top:310px;left:570px;position:absolute;color:#706f7f}
.active .s1-sport {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:100px;height:50px;line-height:60px;text-align:center;font-size:22px;font-weight:bold;top:280px;left:500px;position:absolute;color:#706f7f}
.active .bounceIn {
	animation-name:bounceIn, stayBounceIn;
	-webkit-animation-name:bounceIn, stayBounceIn;
	animation-duration:0.8s, 6s;
	-webkit-animation-duration:0.8s,6s;	
	 animation-iteration-count:1, infinite;
	 animation-direction:normal, alternate;
	-webkit-animation-direction:normal, alternate;
	-webkit-animation-timing-function: ease-out, linear;
	animation-timing-function: ease-out, linear;
	animation-fill-mode: both,forwards;
}
.active .bounceInDelay1{
	animation-delay:3.2s,4s;
	-webkit-animation-delay:3.2s,4s;
}
.active .bounceInDelay2{
	animation-delay:4s,4.8s;
	-webkit-animation-delay:4s,4.8s;
}
.active .bounceInDelay3{
	animation-delay:4.8s,5.6s;
	-webkit-animation-delay:4.8s,5.6s;
}
.active .bounceInDelay4{
	animation-delay:5.6s,6.4s;
	-webkit-animation-delay:5.6s,6.4s;
}
.active .bounceInDelay5{
	animation-delay:6.4s,7.2s;
	-webkit-animation-delay:6.4s,7.2s;
}
.active .bounceInDelay6{
	animation-delay:7.2s,8s;
	-webkit-animation-delay:7.2s,8s;
}

/* scene-2 */
#scene2 { background:#336666; }
.active .s2-content {width:800px;height:450px;background-color:#fff;margin:50px auto;position:relative;}
.active .programmer {width:204px;height:353px;background:url('../image/programmer.png') no-repeat;position:absolute;left:40px;top:70px;
	animation: flipInX 1s;
	-webkit-animation: flipInX 1s;
	animation-fill-mode: both;
}
.active .bulb-bottom {width:150px;height:150px;background:url('../image/bulb-bottom.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:220px;
	animation-name:bounceIn;
	-webkit-animation-name:bounceIn;
	animation-duration:0.7s;
	-webkit-animation-duration:0.7s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode: both;
}
.active .bulb-top {width:150px;height:150px;background:url('../image/bulb-top.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:220px;
	animation-name:flash;
	-webkit-animation-name:flash;
	animation-duration:0.8s;
	-webkit-animation-duration:0.8s;
	animation-delay:1.7s;
	-webkit-animation-delay:1.7s;
	animation-fill-mode: both;
}

.active .blackboard{width:500px;height:300px;background:url('../image/blackboard.jpg') no-repeat;background-size:100% 100%;position:absolute;top:120px;left:270px;border-radius:10px;border:8px solid #fbca87;
	animation-name:flipInX;
	-webkit-animation-name:flipInX;
	animation-duration:0.7s;
	-webkit-animation-duration:0.7s;
	animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
	animation-fill-mode: both;
}
.s2-html {position:absolute;top:220px;left:320px;color:#fff;font-size:18px;}
.s2-css {position:absolute;top:220px;left:440px;color:#fff;font-size:18px;}
.s2-javascript {position:absolute;top:220px;left:550px;color:#fff;font-size:18px;}
.s2-jquery {position:absolute;top:280px;left:320px;color:#fff;font-size:18px;}
.s2-html5 {position:absolute;top:280px;left:440px;color:#fff;font-size:18px;}
.s2-css3 {position:absolute;top:280px;left:570px;color:#fff;font-size:18px;}
.s2-php {position:absolute;top:340px;left:320px;color:#fff;font-size:18px;}
.active .bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
	animation-duration:0.5s;
	-webkit-animation-duration:0.5s;
	animation-fill-mode: both;
}
.active .bounceInDownDelay1 {
	animation-delay:3s;
	-webkit-animation-delay:3s;
}
.active .bounceInDownDelay2 {
	animation-delay:3.5s;
	-webkit-animation-delay:3.5s;
}
.active .bounceInDownDelay3 {
	animation-delay:4s;
	-webkit-animation-delay:4s;
}
.active .bounceInDownDelay4 {
	animation-delay:4.5s;
	-webkit-animation-delay:4.5s;
}
.active .bounceInDownDelay5 {
	animation-delay:5s;
	-webkit-animation-delay:5s;
}
.active .bounceInDownDelay6 {
	animation-delay:5.5s;
	-webkit-animation-delay:5.5s;
}
.active .bounceInDownDelay7 {
	animation-delay:6s;
	-webkit-animation-delay:6s;
}

/* scene-3 */
#scene3 { background:#009966; }
.active .s3-content{width: 800px; height: 500px; margin: 50px auto; position:relative; overflow: hidden;}
.active .s3-sun {width:155px;height:150px;background:url('../image/sun/sun-noeyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:600px;
	animation:flipInX 1s;
	-webkit-animation:flipInX 1s;
	animation-fill-mode: both;
}
.active .s3-sun-lefteyes {width:155px;height:150px;background:url('../image/sun/sun-left-eyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:600px;
	animation:blink 2.5s;
	-webkit-animation:blink 2.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-fill-mode: both;
}
.active .s3-sun-righteyes {width:155px;height:150px;background:url('../image/sun/sun-right-eyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:600px;
	animation:blink 2.5s;
	-webkit-animation:blink 2.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
	animation-fill-mode: both;
}
@keyframes blink
{
0% 	{
	height:150px;
	top:0;
	}
10% {
	height: 0px;
	top:75px;
	}
20% {
	height:150px;
	top:0;
	}
75%,100% {
	height:150px;
	top:0;
	}
}
@-webkit-keyframes blink 
{
0% 	{
	height:150px;
	top:0;
	}
10% {
	height: 0px;
	top:75px;
	}
20% {
	height:150px;
	top:0;
	}
75%,100% {
	height:150px;
	top:0;
	}
}
.active .s3-cloud {width:200px;height:100px;background:url('../image/cloud.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:250px;
	animation-name:lightSpeedIn, cloud-ltor ;
	-webkit-animation-name:lightSpeedIn, cloud-ltor ;
	animation-duration:1s, 8s;
	-webkit-animation-duration:1s, 8s;
	animation-delay:0.5s, 1.5s;
	-webkit-animation-delay:0.5s, 1.5s;
	animation-iteration-count: 1, infinite;
	animation-direction: normal, alternate;
	-webkit-animation-timing-function: ease, linear;
	animation-timing-function: ease, linear;
	-webkit-animation-direction: normal, alternate;
	animation-fill-mode: both;
}
@keyframes cloud-ltor 
{
0% 	{
	left:250px;
	}
100% {
	left:400px;
	}
}
@-webkit-keyframes cloud-ltor 
{
0% 	{
	left:250px;
	}
100% {
	left:400px;
	}
}
.active .s3-bear {
	animation:slideInLeft 1s;
	-webkit-animation:slideInLeft 1s;
	animation-delay:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode: both;
}

.active .s3-bear-top {width:200px;height:340px;background:url('../image/bear/bear-top.png') no-repeat;background-size:100% 100%;position:absolute;top:130px;left:250px;z-index:2;}
.active .s3-bear-behind {width:55px;height:55px;background:url('../image/bear/bear-behind.png') no-repeat;background-size:100% 100%;position:absolute;top:420px;left:250px;z-index:1;
	animation:circle 3s;
	-webkit-animation:circle 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-fill-mode: both;
}
.active .s3-bear-front {width:120px;height:120px;background:url('../image/bear/bear-front.png') no-repeat;background-size:100% 100%;position:absolute;top:360px;left:315px;z-index:1;
	animation:circle 3s;
	-webkit-animation:circle 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-fill-mode: both;
}
@keyframes circle
{
0%   {transform: rotate(0deg);-webkit-transform: rotate(0deg); }
100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}
@-webkit-keyframes circle
{
0%   {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}
.active .s3-think {width:100px;height:85px;background:url('../image/think.png') no-repeat;background-size:100% 100%;position:absolute;top:100px;left:450px;
animation:bounceIn 0.5s;
-webkit-animation:bounceIn 0.5s;
animation-delay:2s;
-webkit-animation-delay:2s;
animation-fill-mode: both;
}
.active .s3-cat666 {width:250px;height:188px;background:url('../image/cat666.png') no-repeat;background-size:100% 100%;position:absolute;top:20px;left:50px;
animation:bounceIn 1s;
-webkit-animation:bounceIn 1s;
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
animation-fill-mode: both;
}
.active .s3-kfzxw {width:350px;height:350px;background:url('../image/kfzxw.png') no-repeat;background-size:100% 100%;position:absolute;top:160px;left:450px;
animation:bounceIn 1s;
-webkit-animation:bounceIn 1s;
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
animation-fill-mode: both;
}
.active .s3-zj {width:250px;height:198px;background:url('../image/zj.png') no-repeat;background-size:100% 100%;position:absolute;top:280px;left:0px;
animation:bounceIn 1s;
-webkit-animation:bounceIn 1s;
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
animation-fill-mode: both;
}

/* scene-4 */
#scene4 { background:#1f2e3d; }
.active .s4-content{width: 800px; height: 500px; margin: 50px auto; position:relative; overflow: visible;}
.active .s4-rocket {width:160px;height:280px;background:url('../image/space/rocket.png') no-repeat;background-size:100% 100%;position:absolute;top:50px;left:350px;z-index:1;
animation-name:bounceInUp, Floating;
-webkit-animation-name:bounceInUp, Floating;
animation-duration:1s, 3s;
-webkit-animation-duration:1s, 3s;
animation-delay:2.5s, 3.5s;
-webkit-animation-delay:2.5s, 3.5s;
animation-timing-function:ease, cubic-bezier(0.5,0,0.1,1);
-webkit-animation-timing-function:ease, cubic-bezier(0.5,0,0.1,1);
animation-iteration-count:1, infinite;
-webkit-animation-iteration-count:1, infinite;

animation-fill-mode:both;
}
@keyframes Floating{ %0,%100{top:50px;} 50%{top:80px;} }
@-webkit-keyframes Floating{ %0,%100{top:50px;} 50%{top:80px;} }


.active .s4-meteor {width:140px;height:120px;background:url('../image/space/meteor.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:460px;z-index:3;
animation: s4-meteor 0.6s;
animation-delay:2s;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;
animation-fill-mode:both;
}
@keyframes s4-meteor {
from {
top:200px;left:-140px;transform: rotate(0deg);opacity:0;
}

20% {
top:160px;left:0;transform: rotate(4deg);opacity:1;
}
40% {
top:120px;left:140px;transform: rotate(8deg);opacity:1;
}
60% {
top:80px;left:280px;transform: rotate(12deg);opacity:1;
}
80{
top:40px;left:420px;transform: rotate(16deg);opacity:1;	
}
to {
top:0;left:560px;transform: rotate(20deg);opacity:1;
}
}
.active .s4-planet {width:204px;height:139px;background:url('../image/space/planet.png') no-repeat;background-size:100% 100%;position:absolute;top:90px;left:60px;z-index:2;
animation:flipInX 1s;
-webkit-animation:flipInX 1s;
animation-delay:0.5s;
-webkit-animation-delay:0.5s;
animation-fill-mode:both;
}
.active .s4-satellite {width:90px;height:60px;background:url('../image/space/satellite.png') no-repeat;background-size:100% 100%;position:absolute;top:140px;left:130px;z-index:1;
animation-name:bounceIn, s4-circle;
-webkit-animation-name:bounceIn, s4-circle;
animation-delay:1.5s, 1.5s;
-webkit-animation-delay:1.5s, 1.5s;
animation-duration:1s, 15s;
-webkit-animation-duration:1s, 15s;
animation-iteration-count: 1, infinite;
-webkit-animation-timing-function: ease, linear;
animation-timing-function: ease, linear;
animation-fill-mode:both;
}
@keyframes s4-circle {
from {
transform: rotate(0deg)  translate(120px,30px) rotate(0deg);width:90px;height:60px;
}

20% {
transform: rotate(90deg) translate(120px,30px) rotate(-90deg);width:80px;height:52px;
}
40% {
transform: rotate(180deg) translate(120px,30px) rotate(-180deg);width:60px;height:40px;
}
70% {
transform: rotate(270deg) translate(120px,30px) rotate(-270deg);width:80px;height:52px;
}
to {
transform: rotate(360deg) translate(120px,30px) rotate(-360deg);width:90px;height:60px;
}
}
@-webkit-keyframes s4-circle {

from {
transform: rotate(0deg)  translate(120px,30px) rotate(0deg);width:90px;height:60px;
}

20% {
transform: rotate(90deg) translate(120px,30px) rotate(-90deg);width:80px;height:52px;
}
40% {
transform: rotate(180deg) translate(120px,30px) rotate(-180deg);width:60px;height:40px;
}
70% {
transform: rotate(270deg) translate(120px,30px) rotate(-270deg);width:80px;height:52px;
}
to {
transform: rotate(360deg) translate(120px,30px) rotate(-360deg);width:90px;height:60px;
}
}

.active .s4-QQ {width:100px;height:100px;background:url('../image/QQ.png') no-repeat;background-size:100% 100%;position:absolute;top:380px;left:180px;z-index:1;
animation:bounceIn 0.5s;
animation-delay:3.5s;
animation-fill-mode:both;
}
.active .s4-QQ-number {width:100px;height:20px;position:absolute;top:480px;left:180px;z-index:2;color:#fff;font-size:18px;font-weight:bold;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
}
.active .s4-email {width:100px;height:100px;background:url('../image/email.png') no-repeat;background-size:100% 100%;position:absolute;top:380px;left:390px;z-index:1;
animation:bounceIn 0.5s;
animation-delay:4s;
animation-fill-mode:both;
}
.active .s4-email-link {width:100px;height:20px;position:absolute;top:480px;left:340px;z-index:2;color:#fff;font-size:18px;font-weight:bold;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
}
.active .s4-sina {width:100px;height:100px;background:url('../image/sina.png') no-repeat;background-size:100% 100%;position:absolute;top:380px;left:600px;z-index:1;
animation:bounceIn 0.5s;
animation-delay:4.5s;
animation-fill-mode:both;
}
.active .s4-sina-link {width:100px;height:20px;position:absolute;top:480px;left:625px;z-index:2;color:#fff;font-size:18px;font-weight:bold;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
}
/* scene index */
.scene-ctrl { position:fixed; top:50%; right:20px; margin-top:-140px; }
.scene-ctrl a { display:block; width:20px; height:20px; margin:10px 0; background:url(https://combo.b.qq.com/account/hrtx/images/active/new-year-2015/bg-scene-ctrl.png) no-repeat center; font: 0/0 a; color: transparent; }
.scene-ctrl .cur { background-image:url(https://combo.b.qq.com/account/hrtx/images/active/new-year-2015/bg-scene-ctrl-cur.png); }

}


/* for mobile */
@media screen and (max-width: 800px) {
	/*loading*/
	.loading{width:100%;height:100%;position:absolute;background-color:#fff;z-index:100}
	.loading img {width:60px;height:60px;position:absolute;top:50%;left:50%;margin-left:-30px;margin-top:-30px;}
	.scene-ctrl {
		visibility: hidden;
	}
	.arrow {display:none;}
	/* scene-1 */
	#scene1 { background:#1f2e3d; }
	.active .s1-content {width: 300px; height: 420px; position:absolute;top: 50%; left:50%; margin-left: -150px; margin-top:-210px;}
	.active .cloud {width:100px;height:50px;background:url('../image/cloud.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:0;
		animation:sway 8s;
		-webkit-animation:sway 8s;	
		animation-iteration-count:infinite;
		animation-direction:alternate;	
		-webkit-animation-direction:alternate;	
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@keyframes sway
	{
	0%   {left:200px;top:0;}
	25%   {left:150px;top:25px;}
	50%   {left:100px;top:0}
	75%   {left:50px;top:25px;}
	100% {left:0;top:0}
	}
	@-webkit-keyframes sway 
	{
	0%   {left:200px;top:0;}
	25%   {left:150px;top:25px;}
	50%   {left:100px;top:0}
	75%   {left:50px;top:25px;}
	100% {left:0;top:0}
	}
	.active .s1-tag {width:120px;height:112px;background-color:#fff;position:absolute;top:20px;left:20px;background:url('../image/aboutme.png') no-repeat;background-size:100% 100%;
	-webkit-animation-name: lightSpeedIn, swing;
	animation-name: lightSpeedIn, swing; 
	-webkit-animation-duration:1s, 2s;
	animation-duration:1s, 2s;
	animation-delay:0s, 1s;
	-webkit-animation-delay:0s, 1s;
	-webkit-animation-timing-function: ease-out, ease;
	animation-timing-function: ease-out, ease;
	 animation-iteration-count:1, infinite;
	 animation-direction:normal, alternate;
	 -webkit-animation-direction:normal, alternate;
	}
	 
	.active .s1-content .headpic {width: 100px; height: 100px; border-radius: 100%; display:block; margin:160px auto; position: relative; z-index:50;}
	.active .circle { animation-name:bounceIn,shine; animation-duration:0.6s,1.5s;animation-delay:1s,1.6s;animation-timing-function:ease-in-out, ease;animation-iteration-count: 1,infinite;animation-direction:normal,alternate;animation-fill-mode: both;}
	@keyframes shine
	{
	0%   {box-shadow:0 0 5px #fff;-webkit-box-shadow:0 0 5px #fff;}
	100% {box-shadow:0 0 20px #fff;-webkit-box-shadow:0 0 20px #fff;}
	}
	@-webkit-keyframes shine 
	{
	0%   {box-shadow:0 0 5px #fff;-webkit-box-shadow:0 0 5px #fff;}
	100% {box-shadow:0 0 20px #fff;-webkit-box-shadow:0 0 20px #fff;}
	}

	/*线条*/
	.active .s1-line1 {display:none;}
	.active .s1-line2 {display:none;}
	.active .s1-line3 {display:none;}
	.active .s1-line4 {display:none;}
	
	.active .s1-name {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:80px;height:40px;line-height:50px;text-align:center;color:#706f7f;font-weight:bold;font-size:15px;position:absolute;top:80px;left:120px;}
	.active .s1-school {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:200px;height:90px;line-height:140px;text-align:center;color:#706f7f;font-weight:bold;font-size:15px;position:absolute;top:300px;left:80px;}
	.active .s1-want {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:120px;height:55px;line-height:75px;text-align:center;color:#706f7f;font-weight:bold;font-size:15px;position:absolute;top:280px;left:30px;}
	.active .s1-status {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:120px;height:55px;line-height:75px;text-align:center;color:#706f7f;font-weight:bold;font-size:15px;position:absolute;top:225px;left:180px;}

	.active .s1-sex {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:50px;height:25px;line-height:30px;text-align:center;font-size:15px;font-weight:bold;top:120px;left:230px;position:absolute;color:#706f7f;}
	.active .s1-year {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:70px;height:35px;line-height:45px;text-align:center;font-size:15px;font-weight:bold;top:170px;left:200px;position:absolute;color:#706f7f;}
	.active .s1-sing {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:80px;height:40px;line-height:50px;text-align:center;font-size:15px;font-weight:bold;top:150px;left:20px;position:absolute;color:#706f7f}
	.active .s1-friend {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:100px;height:50px;line-height:60px;text-align:center;font-size:15px;font-weight:bold;top:200px;left:20px;position:absolute;color:#706f7f}
	.active .s1-sport {background:url('../image/cloud.png') no-repeat;background-size:100% 100%;width:80px;height:40px;line-height:50px;text-align:center;font-size:15px;font-weight:bold;top:130px;left:150px;position:absolute;color:#706f7f}
	.active .bounceIn {
		animation-name:bounceIn, stayBounceIn;
		-webkit-animation-name:bounceIn, stayBounceIn;
		animation-duration:0.8s, 6s;
		-webkit-animation-duration:0.8s,6s;	
		 animation-iteration-count:1, infinite;
		 animation-direction:normal, alternate;
		-webkit-animation-direction:normal, alternate;
		-webkit-animation-timing-function: ease-out, linear;
		animation-timing-function: ease-out, linear;
		animation-fill-mode: both,forwards;
	}
	.active .bounceInDelay1{
		animation-delay:2s,2.8s;
		-webkit-animation-delay:2s,2.8s;
	}
	.active .bounceInDelay2{
		animation-delay:2.8s,3.6s;
		-webkit-animation-delay:2.8s,3.6s;
	}
	.active .bounceInDelay3{
		animation-delay:3.6s,4.4s;
		-webkit-animation-delay:3.6s,4.4s;
	}
	.active .bounceInDelay4{
		animation-delay:4.4s,5.2s;
		-webkit-animation-delay:4.4s,5.2s;
	}
	.active .bounceInDelay5{
		animation-delay:5.2s,6s;
		-webkit-animation-delay:5.2s,6s;
	}
	.active .bounceInDelay6{
		animation-delay:6s,8s;
		-webkit-animation-delay:6s,8s;
	}
	/* scene-2 */
	#scene2 { background:#336666; }
	.active .s2-content {width: 300px; height: 420px; position:absolute;top: 50%; left:50%; margin-left: -150px; margin-top:-210px;background-color:#fff}
	.active .programmer {width:120px;height:200px;background:url('../image/programmer.png') no-repeat;background-size:100% 100%;position:absolute;left:80px;top:15px;
		animation: flipInX 1s;
		-webkit-animation: flipInX 1s;
		animation-fill-mode: both;
	}
	.active .bulb-bottom {width:100px;height:100px;background:url('../image/bulb-bottom.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:200px;
		animation-name:bounceIn;
		-webkit-animation-name:bounceIn;
		animation-duration:0.7s;
		-webkit-animation-duration:0.7s;
		animation-delay:1s;
		-webkit-animation-delay:1s;
		animation-fill-mode: both;
	}
	.active .bulb-top {width:100px;height:100px;background:url('../image/bulb-top.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:200px;
		animation-name:flash;
		-webkit-animation-name:flash;
		animation-duration:0.8s;
		-webkit-animation-duration:0.8s;
		animation-delay:1.7s;
		-webkit-animation-delay:1.7s;
		animation-fill-mode: both;
	}

	.active .blackboard{width:280px;height:180px;background:url('../image/blackboard.jpg') no-repeat;background-size:100% 100%;position:absolute;top:220px;left:0px;border-radius:10px;border:8px solid #fbca87;
		animation-name:flipInX;
		-webkit-animation-name:flipInX;
		animation-duration:0.7s;
		-webkit-animation-duration:0.7s;
		animation-delay:2.5s;
		-webkit-animation-delay:2.5s;
		animation-fill-mode: both;
	}
	.s2-html {position:absolute;top:280px;left:30px;color:#fff;font-size:13px;}
	.s2-css {position:absolute;top:280px;left:110px;color:#fff;font-size:13px;}
	.s2-javascript {position:absolute;top:280px;left:180px;color:#fff;font-size:13px;}
	.s2-jquery {position:absolute;top:320px;left:30px;color:#fff;font-size:13px;}
	.s2-html5 {position:absolute;top:320px;left:120px;color:#fff;font-size:13px;}
	.s2-css3 {position:absolute;top:320px;left:205px;color:#fff;font-size:13px;}
	.s2-php {position:absolute;top:360px;left:30px;color:#fff;font-size:13px;}
	.active .bounceInDown {
		-webkit-animation-name: bounceInDown;
		animation-name: bounceInDown;
		animation-duration:0.5s;
		-webkit-animation-duration:0.5s;
		animation-fill-mode: both;
	}
	.active .bounceInDownDelay1 {
		animation-delay:3s;
		-webkit-animation-delay:3s;
	}
	.active .bounceInDownDelay2 {
		animation-delay:3.5s;
		-webkit-animation-delay:3.5s;
	}
	.active .bounceInDownDelay3 {
		animation-delay:4s;
		-webkit-animation-delay:4s;
	}
	.active .bounceInDownDelay4 {
		animation-delay:4.5s;
		-webkit-animation-delay:4.5s;
	}
	.active .bounceInDownDelay5 {
		animation-delay:5s;
		-webkit-animation-delay:5s;
	}
	.active .bounceInDownDelay6 {
		animation-delay:5.5s;
		-webkit-animation-delay:5.5s;
	}
	.active .bounceInDownDelay7 {
		animation-delay:6s;
		-webkit-animation-delay:6s;
	}
	/* scene-3 */
	#scene3 { background:#009966; }
	.active .s3-content{width: 300px; height: 420px; position:absolute;top:50%;left:50%;margin-left:-150px;margin-top:-210px;overflow:hidden;}
	.active .s3-sun {width:100px;height:94px;background:url('../image/sun/sun-noeyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:200px;
		animation:flipInX 1s;
		-webkit-animation:flipInX 1s;
		animation-fill-mode: both;
	}
	.active .s3-sun-lefteyes {width:100px;height:94px;background:url('../image/sun/sun-left-eyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:200px;
		animation:blink 2.5s;
		-webkit-animation:blink 2.5s;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
		-webkit-animation-direction: normal;
		animation-fill-mode: both;
	}
	.active .s3-sun-righteyes {width:100px;height:94px;background:url('../image/sun/sun-right-eyes.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:200px;
		animation:blink 2.5s;
		-webkit-animation:blink 2.5s;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		-webkit-animation-direction: alternate;
		animation-fill-mode: both;
	}
	@keyframes blink
	{
	0% 	{
		height:94px;
		top:0;
		}
	10% {
		height: 0px;
		top:47px;
		}
	20% {
		height:94px;
		top:0;
		}
	75%,100% {
		height:94px;
		top:0;
		}
	}
	@-webkit-keyframes blink 
	{
	0% 	{
		height:94px;
		top:0;
		}
	10% {
		height: 0px;
		top:47px;
		}
	20% {
		height:94px;
		top:0;
		}
	75%,100% {
		height:94px;
		top:0;
		}
	}
	.active .s3-cloud {width:120px;height:60px;background:url('../image/cloud.png') no-repeat;background-size:100% 100%;position:absolute;top:30px;
		animation-name:lightSpeedIn, cloud-ltor ;
		-webkit-animation-name:lightSpeedIn, cloud-ltor ;
		animation-duration:1s, 8s;
		-webkit-animation-duration:1s, 8s;
		animation-delay:0.5s, 1.5s;
		-webkit-animation-delay:0.5s, 1.5s;
		animation-iteration-count: 1, infinite;
		animation-direction: normal, alternate;
		-webkit-animation-timing-function: ease, linear;
		animation-timing-function: ease, linear;
		-webkit-animation-direction: normal, alternate;
		animation-fill-mode: both;
	}
	@keyframes cloud-ltor 
	{
	0% 	{
		left:130px;
		}
	100% {
		left:30px;
		}
	}
	@-webkit-keyframes cloud-ltor 
	{
	0% 	{
		left:130px;
		}
	100% {
		left:30px;
		}
	}
	.active .s3-bear {
		animation:slideInLeft 1s;
		-webkit-animation:slideInLeft 1s;
		animation-delay:1s;
		-webkit-animation-delay:1s;
		animation-fill-mode: both;
	}

	.active .s3-bear-top {width:150px;height:250px;background:url('../image/bear/bear-top.png') no-repeat;background-size:100% 100%;position:absolute;top:130px;left:80px;z-index:2;}
	.active .s3-bear-behind {width:40px;height:40px;background:url('../image/bear/bear-behind.png') no-repeat;background-size:100% 100%;position:absolute;top:340px;left:80px;z-index:1;
		animation:circle 3s;
		-webkit-animation:circle 3s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
		-webkit-animation-direction: normal;
		animation-fill-mode: both;
	}
	.active .s3-bear-front {width:90px;height:90px;background:url('../image/bear/bear-front.png') no-repeat;background-size:100% 100%;position:absolute;top:300px;left:135px;z-index:1;
		animation:circle 3s;
		-webkit-animation:circle 3s;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
		-webkit-animation-direction: normal;
		animation-fill-mode: both;
	}
	@keyframes circle
	{
	0%   {transform: rotate(0deg);-webkit-transform: rotate(0deg); }
	100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
	}
	@-webkit-keyframes circle
	{
	0%   {transform: rotate(0deg);-webkit-transform: rotate(0deg);}
	100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
	}
	.active .s3-think {width:80px;height:70px;background:url('../image/think.png') no-repeat;background-size:100% 100%;position:absolute;top:100px;left:200px;
	animation:bounceIn 0.5s;
	-webkit-animation:bounceIn 0.5s;
	animation-delay:2s;
	-webkit-animation-delay:2s;
	animation-fill-mode: both;
	}
	.active .s3-cat666 {width:120px;height:90px;background:url('../image/cat666.png') no-repeat;background-size:100% 100%;position:absolute;top:120px;left:0px;
	animation:bounceIn 1s;
	-webkit-animation:bounceIn 1s;
	animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
	animation-fill-mode: both;
	}
	.active .s3-kfzxw {width:120px;height:120px;background:url('../image/kfzxw.png') no-repeat;background-size:100% 100%;position:absolute;top:180px;left:180px;
	animation:bounceIn 1s;
	-webkit-animation:bounceIn 1s;
	animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
	animation-fill-mode: both;
	}
	.active .s3-zj {width:120px;height:95px;background:url('../image/zj.png') no-repeat;background-size:100% 100%;position:absolute;top:220px;left:0px;
	animation:bounceIn 1s;
	-webkit-animation:bounceIn 1s;
	animation-delay:2.5s;
	-webkit-animation-delay:2.5s;
	animation-fill-mode: both;
	}
	
	/* scene-4 */
	#scene4 { background:#1f2e3d; }
	.active .s4-content{width: 300px; height: 420px; position:absolute; top:50%;left:50%;margin-left:-150px;margin-top:-210px;}
	.active .s4-rocket {width:120px;height:210px;background:url('../image/space/rocket.png') no-repeat;background-size:100% 100%;position:absolute;top:210px;left:30px;z-index:1;
	animation-name:bounceInUp, Floating;
	-webkit-animation-name:bounceInUp, Floating;
	animation-duration:1s, 3s;
	-webkit-animation-duration:1s, 3s;
	animation-delay:2.5s, 3.5s;
	-webkit-animation-delay:2.5s, 3.5s;
	animation-timing-function:ease, cubic-bezier(0.5,0,0.1,1);
	-webkit-animation-timing-function:ease, cubic-bezier(0.5,0,0.1,1);
	animation-iteration-count:1, infinite;
	-webkit-animation-iteration-count:1, infinite;

	animation-fill-mode:both;
	}
	@keyframes Floating{ %0,%100{top:210px;} 50%{top:190px;} }
	@-webkit-keyframes Floating{ %0,%100{top:210px;} 50%{top:190px;} }


	.active .s4-meteor {width:70px;height:60px;background:url('../image/space/meteor.png') no-repeat;background-size:100% 100%;position:absolute;top:0;left:230px;z-index:4;
	animation: s4-meteor 0.6s;
	animation-delay:2s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	animation-fill-mode:both;
	}
	@keyframes s4-meteor {
	from {
	top:200px;left:-70px;transform: rotate(0deg);opacity:0;
	}

	20% {
	top:160px;left:-10px;transform: rotate(4deg);opacity:1;
	}
	40% {
	top:120px;left:50px;transform: rotate(8deg);opacity:1;
	}
	60% {
	top:80px;left:110px;transform: rotate(12deg);opacity:1;
	}
	80{
	top:40px;left:170px;transform: rotate(16deg);opacity:1;	
	}
	to {
	top:0;left:230px;transform: rotate(20deg);opacity:1;
	}
	}
	@-webkit-keyframes s4-meteor {
	from {
	top:200px;left:-70px;transform: rotate(0deg);opacity:0;
	}

	20% {
	top:160px;left:-10px;transform: rotate(4deg);opacity:1;
	}
	40% {
	top:120px;left:50px;transform: rotate(8deg);opacity:1;
	}
	60% {
	top:80px;left:110px;transform: rotate(12deg);opacity:1;
	}
	80{
	top:40px;left:170px;transform: rotate(16deg);opacity:1;	
	}
	to {
	top:0;left:230px;transform: rotate(20deg);opacity:1;
	}
	}	
	.active .s4-planet {width:150px;height:100px;background:url('../image/space/planet.png') no-repeat;background-size:100% 100%;position:absolute;top:50px;left:60px;z-index:3;
	animation:flipInX 1s;
	-webkit-animation:flipInX 1s;
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
	animation-fill-mode:both;
	}
	.active .s4-satellite {width:60px;height:40px;background:url('../image/space/satellite.png') no-repeat;background-size:100% 100%;position:absolute;top:100px;left:130px;z-index:2;
	animation-name:bounceIn, s4-circle;
	-webkit-animation-name:bounceIn, s4-circle;
	animation-delay:1.5s, 1.5s;
	-webkit-animation-delay:1.5s, 1.5s;
	animation-duration:1s, 15s;
	-webkit-animation-duration:1s, 15s;
	animation-iteration-count: 1, infinite;
	-webkit-animation-timing-function: ease, linear;
	animation-timing-function: ease, linear;
	animation-fill-mode:both;
	}
	@keyframes s4-circle {
	from {
	transform: rotate(0deg)  translate(100px,20px) rotate(0deg);width:60px;height:40px;
	}

	20% {
	transform: rotate(90deg) translate(100px,20px) rotate(-90deg);width:50px;height:42px;
	}
	40% {
	transform: rotate(180deg) translate(100px,20px) rotate(-180deg);width:30px;height:20px;
	}
	70% {
	transform: rotate(270deg) translate(100px,20px) rotate(-270deg);width:50px;height:42px;
	}
	to {
	transform: rotate(360deg) translate(100px,20px) rotate(-360deg);width:60px;height:40px;
	}
	}
	@-webkit-keyframes s4-circle {

	from {
	transform: rotate(0deg)  translate(100px,20px) rotate(0deg);width:60px;height:40px;
	}

	20% {
	transform: rotate(90deg) translate(100px,20px) rotate(-90deg);width:50px;height:42px;
	}
	40% {
	transform: rotate(180deg) translate(100px,20px) rotate(-180deg);width:30px;height:20px;
	}
	70% {
	transform: rotate(270deg) translate(100px,20px) rotate(-270deg);width:50px;height:42px;
	}
	to {
	transform: rotate(360deg) translate(100px,20px) rotate(-360deg);width:60px;height:40px;
	}
	}

	.active .s4-QQ {width:50px;height:50px;background:url('../image/QQ.png') no-repeat;background-size:100% 100%;position:absolute;top:200px;left:200px;z-index:1;
	animation:bounceIn 0.5s;
	animation-delay:3.5s;
	animation-fill-mode:both;
	}
	.active .s4-QQ-number {width:100px;height:20px;position:absolute;top:250px;left:195px;z-index:2;color:#fff;font-size:13px;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
	}
	.active .s4-email {width:50px;height:50px;background:url('../image/email.png') no-repeat;background-size:100% 100%;position:absolute;top:270px;left:200px;z-index:1;
	animation:bounceIn 0.5s;
	animation-delay:4s;
	animation-fill-mode:both;
	}
	.active .s4-email-link {width:100px;height:20px;position:absolute;top:320px;left:170px;z-index:2;color:#fff;font-size:13px;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
	}
	.active .s4-sina {width:50px;height:50px;background:url('../image/sina.png') no-repeat;background-size:100% 100%;position:absolute;top:340px;left:200px;z-index:1;
	animation:bounceIn 0.5s;
	animation-delay:4.5s;
	animation-fill-mode:both;
	}
	.active .s4-sina-link {width:100px;height:20px;position:absolute;top:390px;left:205px;z-index:2;color:#fff;font-size:13px;
	animation:bounceIn 0.5s;
	animation-delay:5s;
	animation-fill-mode:both;
	}
	
}
